@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.sign-in {
    @apply ml-7 text-sm py-2 px-4 rounded-full hover:bg-[rgb(255,255,255,0.3)];
}

.reg-btn {
    @apply w-[50%] mx-auto block text-2xl px-5 py-4 rounded-full text-center mb-4;
}

.burgers {
    @apply w-[32px] h-[3px] bg-white rounded-full my-1.5;
    transition: all .5s;
}

.header-bg {
    @apply bg-[url(/images/bg-pattern-intro-mobile.svg)] bg-no-repeat bg-cover bg-center md:bg-[url(/images/bg-pattern-intro-desktop.svg)] md:bg-right;
}

.common-header {
    @apply text-footer text-3xl md:text-xl text-center md:text-left mx-auto font-bold px-11 py-8 md:pb-3 md:pl-16;
}

.common-para {
    @apply py-2 px-16 text-center md:text-left mx-auto text-xl md:text-base text-secondary;
}

.background {
    @apply bg-[url(/images/bg-pattern-circles.svg)] bg-no-repeat bg-cover bg-center md:bg-none;
}

.fotter-h4 {
    @apply text-white text-xl font-bold mb-6;
}

.fotter-li {
    @apply text-gray-200 text-lg mb-1 hover:underline hover:font-bold cursor-pointer;
}

.dropdown-list {
    @apply absolute top-5 -left-4 bg-white p-5 rounded-md drop-shadow-xl;
}

.dropdown-item {
    @apply text-secondary font-bold mb-1 hover:text-footer hover:scale-105 cursor-pointer transition-all;
}

/* ------------some animation for nav display */
.hide-list {
    opacity: 0;
    transform: translateY(-100vh);
}

.show-list {
    animation: show .2s ease-out;
}

@keyframes show {
    0%{ opacity: 0; transform: translateY(-100vh); }
    75%{ transform: translateY(40px); opacity: 0.4; }
    100%{ transform: translateY(0); opacity: 1; }
}

/* ------------ for mobile nav dropdown */
.burger-list {
    @apply w-[80%] mx-auto text-center py-4 text-2xl font-bold text-footer hover:text-secondary active:text-secondary cursor-pointer;
}

.burger-item {
    @apply text-xl font-bold text-secondary hover:text-footer active:text-footer hover:scale-105 cursor-pointer my-3;
}

.burgers.top {
    transform: translateY(8.5px) rotateZ(-45deg);
}

.burgers.middle {
    opacity: 0;
}

.burgers.bottom {
    transform: translateY(-8.5px) rotateZ(45deg);
}